node_modules
**/node_modules
.env
.env.*
!.env.example
!.env.production
**/.env.local
**/.env.*.local
dist
**/dist
coverage
**/coverage
.next
**/.next
.turbo
**/.turbo
.eslintcache
**/*.log
.git
.github
.vscode
*.md
database/
scripts/
test/
**/test/
